.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/*/**
!.obsidian/plugins/*/data.json
.obsidian-git-data
Untitled*

trash/
.DS_Store

# Eleventy output
_site/
.cache/

# Node modules
node_modules/
.app/node_modules/

# Build artifacts
.app/.parcel-cache/
.app/dist/

# OS files
Thumbs.db

# Log files
*.log

